body{
  font-family: 'Inter', sans-serif;
}
/*navbar*/
.navbar{
  display: flex;
  background-color: #ECEBFE;
  height: 10vh;
  width: 100%;
  align-items: center;
  /* overflow: scroll; */
}

.navbar-logo{
  margin-left: 2vw;
  width: 25vw;
}

.navbar-logo img{
  height: min(5vh,6vw);
}

.navbar .navbar-links{
  font-size: min(1.8vh,1.5vw);
  display: flex;
  width: 50vw;
  overflow: auto;
  margin-left: 12vw;
}

.navbar a{
  margin-left: 3vw;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.navbar a:hover{
  font-weight: 800;
}

.selected-navbar-link{
  color: #7716A5;
}

.navbar-profileinfo{
  display: flex;
  overflow: auto;
  margin-left: 5vw;
  height: 100%;
  width: 20vw;
  align-items: center;
  justify-content: right;
  font-size: min(1.8vh,1.5vw);
  font-weight: 600;
}

#navbar-dp img{
  margin-left: 2vw;
  margin-right: 2vw;
  height: min(6vh,6vw);
}

/*portfolio*/

.total-area{
  display: flex;
}

.sidebar{
  background-color: #ECEBFE;
  width: 25vw;
  height: 100vh;
}

.portfolio-info{
  width: 100%;
  height: 60vh;
}

.sidebar-img{
  height: 30vh;
}

.sidebar-img img{
  height: min(30vh,25vw);
}

.portfolio{
  background-color: #C1A9E8;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.portfolio img{
  height: min(8vh,8vw);
  margin-left: 2vw;
}

.portfolio-text{
  margin-left: 2vw;
  margin-top: 0%;
}

.portfolio-text-up{
  font-size: min(2.5vh,2vw);
  color: white;
  font-weight: 600;
}

.portfolio-text-down{
  font-size: min(2vh,1.5vw);
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 1vh;
}

.main-content{
  width: 75vw;
  height: 100vh;
  overflow: scroll;
}

.main-content-heading{
  margin-left: 3vw;
  margin-top: 5vh;
}

.main-content-heading-up{
  color: grey;
  font-weight: 400;
  font-size: min(2vh,1.7vw);
  width: 100%;
}

.main-content-heading-down{
  width: 100%;
  margin-top: 2vh;
  font-size: min(4vh,2.1vw);
  font-family: 'Actor', sans-serif;
  display: flex;
}

.buttonA{
  margin-left: 1.5vw;
  width: 5.5vw;
}

.buttonB{
  margin-left: 44vw;
  width: 10vw;
  height: 5vh;
}

.buttonA-icon{
  height: min(1.5vh,1.5vw);
}

.buttonB-icon{
  height: min(2vh,2vw);
}

.chart-area{
  margin-top: 5vh;
  width: 69vw;
  height: 30vh;
}

.assets{
  margin-top: 5vh;
  width: 69vw;
  height: 30vh;
}

.assets-heading{
  font-size: min(3vh,3vw);
  font-weight: 500;
}

/* HOME */

.sec1{
  background-image: url(./assets/bg.png);
  background-size: cover;
  display: flex;
  height: 90vh;
  width: 100%;
}

.logo{
  margin-top: 15vh;
  margin-left: 13vw;
  width: 25vw;
  height: 27vw;
}

.sec1-right{
  margin-top:25vh ;
  margin-left:10vw ;
  margin-right: 7vw;
}

.sec1-heading{
  color: #8D8CA8;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.sec1-para{
  color: #000000;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.sec1-button{
  font-size: 2.5vh;
  padding: 7px 20px;
  border: 5px solid #8D8CA8;
	border-radius: 25px;
  background-color: #FFFFFF;
  transition: .4s;
}

.sec2-heading{
  font-size: 5vh;
  padding: 35px;
  font-family: 'Roboto', sans-serif;
}

.sec2-cards{
  display: flex;
}

.sec2-card {
  padding: 40px;
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
}

.sec2-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sec2-container {
  background-color: #e0bcf6;
  height: 20vh;
  font-size: 3vh;
  color: #000000;
  text-decoration: none;
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.sec2-learn{
  padding: 30px;
  font-size: 25px;
  font-weight:600;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sec3{
  background-color: #ECEBFE;
  height: 90vh;
}

.sec3-heading{
  padding: 30px;
  font-size: 33px;
  font-weight:600;
}

.sec3-body{
  background-color: #FFFFFF;
  height: 70vh;
  border-radius: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.sec4-heading{
  color: #929292;
  font-size: 55px;
  text-align: center;
  padding: 40px;
}

.sec4-cards{
  display: flex;
}

.sec4-card{
  padding: 50px;
  width: 20%;
}

.sec4-container{
  text-align: center;
  height: 20vh;
  font-size: 23px;
  padding: 2px 16px;
}

.sec4-img{
  height: 10vh;
}

.sec5{
  background-color: #ECEBFE;
  height: 80vh;
}

.sec5-heading{
  padding: 25px;
  font-size: 33px;
  font-weight:800;
}

.sec5-body{
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.sec5-body{
  padding: 3%;
}

.news1{
  display: flex;
}
.newstext{
  font-size: 100%;
  padding-left: 3vw;
  padding-top: 1.5vh;
}

.sec6{
  background-color: #333333;
  width: 100%;
} 

.sec6-heading{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}

.sec6-button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 7px 20px;
	border-radius: 25px;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  transition: .4s;
}

.sec6-button:hover{
  background-image: -webkit-linear-gradient(45deg, #ffffff 0%, #000000 100%);
  background-image: linear-gradient(45deg, #ffffff 0%, #000000 100%);
}
.footerdown{
  display: flex;
}

.footerdown-left{
  display: flex;
}

.footerdown-right{
  display: flex;
  margin-left: 50vw;
}

.socials{
  padding-bottom: 0%;
  margin: 7%;
  padding: 1%;
  height: 5vh;
  width: 3vw;
}

.navbar1{
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
}


.navbar1 .navbar-links1{
  font-size: min(1.8vh,1.5vw);
  display: flex;
  overflow: auto;
}

.navbar1 a{
  margin-left: 3vw;
  font-weight: 300;
  text-decoration: none;
  color: white;
}


.line{
  height: 0vh;
  width:10vw;
  border-style: solid;
  border-width: 1px;
  align-self: center;
}
.normal-card,.expanded-card{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.tempCoin-icon{
  height: 5vh;
}

.exchange-cards{
  margin-top: 10vh;
}

/* Login */
.image{
  position: absolute;
left: 0px;
bottom: 0px;
}

.middlebar{
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  color: #645086;
}

.logintext{
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.buttonlogin{
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}

.G-image{ 
  height:23px;
  width: 23px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right:20px ;
  padding-left:20px ;
}

.signinbutton{
  border: 0px ;
  width:15vw;
  height: 7vh;
  display: flex;
  background-color: #ECEBFE;
  font-size:15px ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.loginline{
  height: 0vh;
  width:8vw;
  border-style: solid;
  border-width: 1px;
  align-self: center;
}

.loginsec4-card{
  display: flex;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginsec4-container{
  font-size: 15px;
  padding: 0px 20px;
}

.loginform{
  padding: 20px;
  color: #645087;
}

.feildzero{
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 4vh;
    padding-bottom: 8vh;
}

.fieldone{
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 4vh;
  padding-bottom: 8vh;
}

.fieldtwo{
  text-align: left;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 4vh;
}

.Fullname{
  border-style: none;
  outline: none;
  border-bottom-style: groove;
  width: 17vw;
  padding-top: 4vh;
}

.email{
  border-style: none;
  outline: none;
  border-bottom-style: groove;
  width: 17vw;
  padding-top: 4vh;
}

.Password{
  border-style: none;
  outline: none;
  border-bottom-style: groove;
  width: 17vw;
  padding-top: 4vh;
}

.login{
  background-color: #ECEBFE;
  border: none;
  width: 7vw;
  height: 5vh;
  font-size: 15px;
}

.register{
  background-color: #ECEBFE;
  border: none;
  width: 7vw;
  height: 5vh;
  font-size: 15px;
}

.submits{
  display: flex;
  width: 10vw;
  padding-left: 15vw;
  justify-content: space-evenly;
  padding-top: 5vh;
  
  
}

.registers{
  padding-left: 3vw;
}

.learnheading{
  text-align: center;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
  line-height: 10vh;
}

.learnline{
  color: #C1A9E8;
  width: 10vw;
}

.questions{
  padding-left:10vw ;
  padding-right:10vw ;
  padding-top: 5vh;
}

.question{
  color:#645086;
  font-size: 20px;
  padding-bottom: 2vh;
}

.recommendedheading{
  font-size: 30px;
  padding: 30px;
  margin-left:8vw;
  width: 30vw;
}

.recommendedcards{
  display: flex;
  justify-content: space-evenly;
}

.coin-page-head-card{
  margin: 5vh;
  display: flex;
  height: 8vh;
  width: 18vw;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.coin-page-head-card-image{
  border-right: 1px solid lightgrey;
  width: 30%;
  display: flex;
  justify-content: center;
}

.coin-page-head-card-name{
  display: flex;
  font-size: 2.5vh;
  width: 70%;
}

.coin-page-info{
  overflow: hidden;
  width: 90%;
  height: 20vh;
  margin-left: 5vh;
  font-size: 2vh;
}

.coin-page-chart{
  width: 90%;
  margin-left: 1vh;
  height: 45vh;
}